h1{
	color: #000000;
	text-align: center;
}
 
 body{
 	background-color: #d6ce93;
 	text-align: center;
 }

 p{
 	color:#000000;
 }

 .greenparagraph{
 	color: #000000 ;
 }

table{
	border-width: 4px;
	border-color:#000000 ;
	margin-left: auto;
	margin-right: auto;
	text-align: centre;
}
 
 li a{
 	float: left;
 	display: block;
 	color:#000000 ;
 	background-color:#efebce ;
 	width: 50px;
 	padding: 15px 15px;

 }

ul{
	list-style-type: none;
	background-color: #efebce;
	overflow: hidden;
}
li a:hover{
	background-color:#d6ce93 ;
}