h1{
	color: #000000;
	text-align: center;
	font-size: 60px;
}
 
 body{
 	background-color:#faf3dd;
 	text-align: center;
 }

 p{
 	color:#000000;
 	font-size: 30px;
 	
 }

 .greenparagraph{
 	color: #000000 ;
 }

table{
	border-width:7px ;
	border-color:#d6ce93 ;
	margin-left: auto;
	margin-right: auto;
	text-align: centre;
	background-color: #d6ce93;
}
 
 li a{
 	float: left;
 	display: block;
 	color:#000000 ;
 	background-color:#d6ce93 ;
 	width: 50px;
 	padding: 15px 15px;

 }

ul{
	list-style-type: none;
	background-color:#d6ce93 ;
	overflow: hidden;
}
li a:hover{
	background-color: #97a97c;
}
h3{
	font-size: 30px;
}

.class
